/mantraml.egg-info
/build
/dist
/venv
/my_project
db.sqlite3*
myproject
.cache/v/cache
.pytest_cache
tests/local/test_training_aws
mantraml/tests/data/test_tabular_data/raw/.extract
mantraml/tests/data/testdata/raw/.extract
__pycache__/
*.pyc
*.pyo
tests/my_project
