boto>=2.49.0
django>=2.1.2
lazy-import>=0.2.2
matplotlib>=2.2.2
numpy>=1.14.1
pandas>=0.23.3
paramiko>=2.4.1
pillow>=5.1.0
pyyaml>=3.13
scipy>=1.1.0
pytest>=3.7.1
boto3>=1.9.22
termcolor==1.1.0
certifi==2018.8.24
chardet==3.0.4
requests==2.19.1
tensorboardX>=1.4