{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block contents %}

<div class="container content">

  <!-- Repo title and header -->
  <div class="row" style="padding-top:30px;">
    <div class="col-md-10">
      <div class="section-header">GENERATIVE MODELS</div>
      <div class="main-header">{{ name }}</div>
      <div class="section-repo"><i class="em em-robot_face"></i> <a href='/models'>models</a> / <a href='/model/{{ folder_name }}'>{{ folder_name }}</a></div>
    </div>
    <div class="col-md-2">
      <div class="repo-summary">
        <div class="repo-summary-image"><img width=140 src="/static/{{ model.image }}"></div>
      </div>
    </div>
  </div>

      <div class="row content">
        <div class="col-md-12">
          <div class="content-box">
            
<div class="container-fluid">

<div class="trial-content">

<div class="row">

<div class="col-md-4">
<h5>Latest Media</h5>
<img src="/static/{{ latest_media }}">
</div>

{% for scalar_key, scalar_value in scalars.items %}
<div class="col-md-4">
<h5>{{ scalar_key }}</h5>
<canvas height=235 id="{{ scalar_key }}"></canvas>


<script>

var ctx = document.getElementById('{{ scalar_key }}');
Chart.defaults.scale.gridLines.display = false;
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',
    // The data for our dataset
    data: {
        labels: {{ scalar_value.steps | safe }},
        datasets: [
        {
            label: "{{ scalar_key }}",
            borderColor: "rgb(75, 192, 192)",
            data: {{ scalar_value.values }},
            fill: false,
            lineTension: 0,
        }
        ]
    },



    // Configuration options go here
    options: {

    }
});

</script>
        </div>
{% endfor %}



    </div>
</div>
</div>



          </div>
        </div>
      </div>
</div>

{% endblock %}
