{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'img/rocket.png' %}">

  <title>mantra</title>

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light header">
  <div class="container">
    <a class="navbar-brand" href="/">
          <ion-icon name="rocket"></ion-icon> mantra
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/trials">Trials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/models">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datasets">Data</a>
        </li>
         <li class="nav-item">
        <a class="nav-link" href="/cloud">Instances</a>
        </li>
      </ul>
      <div class="search-field">

    </div>
    </div>

<div class="collapse navbar-collapse order-2">
      
          <div class="navbar-float-right">
        <ul class="navbar-nav">

          <li class="nav-item nav-link-header-github">
            <a target="_blank" href="https://github.com/RJT1990/mantra"><ion-icon name="logo-github"></ion-icon></a>
          </li>

          <li class="nav-item nav-link-header-github">
            <a target="_blank" href="https://www.mantraml.org/docs"><ion-icon name="document"></ion-icon></a>
          </li>


        </ul>
      </div>

</div>




  </div>


</nav>



<div class="container">
<div class="container-content">
  
{% block contents %}
{% endblock contents %}

</div>
</div>



<footer class="footer">
<div class="container-fluid">

<div class="row">
<div class="col-md-6"><div class="project-name">mantra</div></div>
<div class="col-md-6"><a target="_blank" href="https://github.com/RJT1990/mantra/issues"><ion-icon name="alert"></ion-icon> Report Issue</a> 
  <a target="_blank" href="https://github.com/RJT1990/mantra"><ion-icon name="git-network"></ion-icon> Fork this project</a></div>
</div>
</div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



</body>
</html>