{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block contents %}




<div class="row title-row">
  <div style="float: left;" class="col-lg">
  <h1>Your Instances</h1>
</div>
</div>

<div class="cloud-hold">

<div class="modal fade" id="stopInstanceModal" tabindex="-1" role="dialog" aria-labelledby="stopInstanceGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stopInstanceGroupModalLabel">Are you sure you want to stop this instance?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="stop-modal-block">
      <form action="" method="post">


    {% csrf_token %}
    {{ stop_instance_form }}

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Stop Instance</button>
      </div>

</form>
</div>
    </div>
  </div>
</div>

<div class="modal fade" id="startInstanceModal" tabindex="-1" role="dialog" aria-labelledby="startInstanceGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="startInstanceGroupModalLabel">Are you sure you want to start this instance?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="start-modal-block">
      <form action="" method="post">


    {% csrf_token %}
    {{ start_instance_form }}

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Start Instance</button>
      </div>

</form>
</div>
    </div>
  </div>
</div>

<div class="modal fade" id="terminateInstanceModal" tabindex="-1" role="dialog" aria-labelledby="terminateInstanceGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="terminateInstanceGroupModalLabel">Are you sure you want to terminate this instance?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="terminate-modal-block">
      <form action="" method="post">


    {% csrf_token %}
    {{ terminate_instance_form }}

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Terminate Instance</button>
      </div>

</form>
</div>
    </div>
  </div>
</div>


<table id="modeltable" class="table text-center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
      <th scope="col">Type</th>
      <th scope="col">State</th>
      <th scope="col">Launch Time</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>


{% for instance in instance_data %}
    <tr>
      <td>{{ instance.id }}</td>
      <td>{{ instance.name }}</td>
      <td>        {% for tag in instance.tags %}
      <span class="badge badge-primary">{{ tag }}</span>
       {% endfor %}</td>
      <td>{{ instance.type }}</td>
      <td>{% if instance.state == 'running' %}
        <i class="em em-white_check_mark"></i>
        {% else %}
        <i class="em em-red_circle"></i>
        {% endif %}

      {{ instance.state }}</td>
      <td>{{ instance.launch_time }}</td>
      <td>
{% if instance.state == 'running' %}
        <button data-id="{{ instance.id }}" type="button" class="open-stopInstance btn btn-primary" data-toggle="modal" data-target="#stopInstanceModal">
        stop
      </button> 
        {% else %}
        <button data-id="{{ instance.id }}" type="button" class="open-startInstance btn btn-primary" data-toggle="modal" data-target="#startInstanceModal">
        start
      </button> 
        {% endif %}



      <button data-id="{{ instance.id }}" type="button" class="open-terminateInstance btn btn-primary" data-toggle="modal" data-target="#terminateInstanceModal">
        terminate
      </button></td>
    </tr>
   {% endfor %}
  </tbody>
</table>


<script>
  $(document).ready(function () {
  $('#modeltable').DataTable( {
        "order": [[ 4, "desc" ]]
    } );
  $('.dataTables_length').addClass('bs-select');
});

$(document).on("click", ".open-stopInstance", function () {
     var myinstanceId = $(this).data('id');
     $(".stop-modal-block #id_stop_instance_id").val( myinstanceId );
});

$(document).on("click", ".open-startInstance", function () {
     var myinstanceId = $(this).data('id');
     $(".start-modal-block #id_start_instance_id").val( myinstanceId );
});

$(document).on("click", ".open-terminateInstance", function () {
     var myinstanceId = $(this).data('id');
     $(".terminate-modal-block #id_terminate_instance_id").val( myinstanceId );
});

</script>
</div>





{% endblock contents %}