



{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block contents %}



      <div class="row title-row">
        <div style="float: left;" class="col-lg">
        <h4>Your Models</h4>
        </div>
        <div class="col-lg-4">

          <div style="float: right;" class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
           
          </div>
        </div>
      </div>



<div class="card-deck">

  {% for model in models %}
  <a href="/model/{{ model.folder_name }}">
  <div class="card">
    <div class="artefact-type">
      Private
    </div>

    <img class="card-img-top" src="static/{{ model.image }}" alt="Card image cap">

    <div class="card-body">
      <h6 class="card-title">{{ model.name }}</h6>
      <img style="height: 15px" src="static/img/{{ model.framework }}.png">
      <p class="card-text"><small class="text-muted">{{ model.last_updated }}</small></p>
    </div>
  </div>
</a>
  {% endfor %}

</div>







      <div class="row title-row deck-break">
        <div style="float: left;" class="col-lg">
        <h4>Your Datasets</h4>
        </div>
        <div class="col-lg-4">

          <div style="float: right;" class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
           
          </div>
        </div>
      </div>



<div class="card-deck">

  {% for dataset in datasets %}
    <a href="/data/{{ dataset.folder_name }}">
  <div class="card">

    <div class="artefact-type">
      Private
    </div>

    {% if dataset.data_type == 'images' %}
    <img class="card-img-top" src="static/{{ dataset.data_image }}" alt="Card image cap">
    {% elif dataset.data_type == 'tabular' %}
    <img class="card-img-top" src="static/{{ dataset.data_image }}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <h6 class="card-title">{{ dataset.name }}</h6>
      
      {% if dataset.data_type == 'images' %}
      <i class="em em-frame_with_picture"></i>
      {% elif dataset.data_type == 'music' %}
      <i class="em em-musical_score"></i>
      {% else %}
      <i class="em em-floppy_disk"></i>
      {% endif %}

      <p class="card-text"><small class="text-muted">{{ dataset.last_updated }}</small></p>
    </div>
  </div>
</a>
  {% endfor %}

</div>







{% endblock contents %}