



{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block contents %}

{% if not trials %}
      <div class="row title-row deck-break">
        <h1>Welcome to Mission Control</h1>
      </div>

<div class="mission-control-hold">
<h2>
Your First Mantra Project
</h2>

<p>Congratulations on launching your first Mantra project! This UI acts as your mission control center to:</p>

<ul>
<li><i class="em em-rocket"></i> Monitor your training jobs</li>
<li><i class="em em-bar_chart"></i> Evaluate your performance on datasets</li>
<li><i class="em em-chart_with_upwards_trend"></i> Track your progress</li>
</ul>

<p>To get started you should try running your first trial, either locally or via the cloud. <a href="" target="_blank">Click here for a tutorial on how to do this</a>.

</div>

{% endif %}


      <div class="row title-row deck-break">
  <div style="float: left;" class="col-lg">
        <h1>Latest Trials</h1></div>
      </div>


<div class="trials-hold">
  
<table id="trialgrouptable" class="table text-center">
  <thead>
    <tr>
      <th scope="col"></th>
      <th hidden scope="col">Timestamp</th>
      <th scope="col">Epochs</th>
      <th scope="col">Trial ID</th>
      <th scope="col">Time</th>
      <th scope="col">Model</th>
      <th scope="col">Dataset</th>
      <th scope="col">Task</th>

    </tr>
  </thead>
  <tbody>


{% for trial in trials %}
    <tr>

      <td onclick="document.location = '/trial/{{ trial.trial_hash |slice:':6' }}';"> {% if not trial.training_finished %}
        <img width=15 src="/static/img/live.gif">
       {% else %}
       <i class="em em-white_check_mark"></i>
        {% endif %}</td>

      <td hidden onclick="document.location = '/trials/{{ trial.trial_hash |slice:':6' }}';">{{ trial.timestamp }}</td>

        <td onclick="document.location = '/trial/{{ trial.trial_hash |slice:':6' }}';">{% if trial.current_epoch %}{{ trial.current_epoch }}{% else %}0{% endif %} / {{ trial.hyperparameters.epochs }}</td>
              <td onclick="document.location = '/trial/{{ trial.trial_hash |slice:':6' }}';"><a href="/trial/{{ trial.trial_hash |slice:':6' }}">{{ trial.trial_hash |slice:':6' }}</a></td>
      <td onclick="document.location = '/trial/{{ trial.trial_hash |slice:':6' }}';">{{ trial.last_updated }}</td>
      <td onclick="document.location = '/trial/{{ trial.trial_hash |slice:':6' }}';"><img src="/static/{{ trial.model_metadata.image }}"> {{ trial.model_metadata.name }}</td>
      <td onclick="document.location = '/trial/{{ trial.trial_hash |slice:':6' }}';"><img src="/static/{{ trial.data_metadata.data_image }}"> {{ trial.data_metadata.name }}</td>
      <td onclick="document.location = '/trial/{{ trial.trial_hash |slice:':6' }}';">
        {% if trial.task_name != 'none' %}
        <i class="em em-chart_with_upwards_trend"></i> {{ trial.task_metadata.name }}
        {% else %}
        None
        {% endif %}
      </td>

    </tr>
   {% endfor %}
  </tbody>
</table>


<script>
  $(document).ready(function () {
  $('#trialgrouptable').DataTable( {
        "order": [[ 0, "desc" ]],
            searching: false,
      paging: false,
      info: false
    } );
  $('.dataTables_length').addClass('bs-select');
});

$(document).on("click", ".open-deleteTrialGroupDialog", function () {
     var mytrialGroupId = $(this).data('id');
     $(".modal-content #id_trial_group_hash").val( mytrialGroupId );
});

</script>

</div>

<br>



{% endblock contents %}