{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block contents %}



      <div class="row title-row">
        <div style="float: left;" class="col-lg">
        <h1>Your Models</h1>
        </div>
        <div class="col-lg-4">

          <div style="float: right;" class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
           

          </div>
        </div>
      </div>

<div class="models-hold">

<div class="modal fade" id="deleteTrialGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteTrialGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTrialGroupModalLabel">Are you sure you want to delete this trial group?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">


    {% csrf_token %}
    {{ form }}

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>

</form>

    </div>
  </div>
</div>

<table id="modeltable" class="table text-center">
  <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>



{% for model in models %}
    <tr>
      <td onclick="document.location = '/model/{{ model.folder_name }}'"><div class="model-name"><img src="/static/{{ model.image }}"> <a href="/model/{{ model.folder_name }}">{{ model.name }}</a></div></td>
      <td onclick="document.location = '/model/{{ model.folder_name }}'">
        {% for tag in model.tags %}
      <span class="badge badge-primary">{{ tag }}</span>
       {% endfor %}
     </td>
      <td onclick="document.location = '/model/{{ model.folder_name }}'"><div class="framework"><img src="/static/img/{{ model.framework }}.png"></div></td>
      <td onclick="document.location = '/model/{{ model.folder_name }}'"><div class="date">{{ model.last_updated }}</div></td>
    </tr>
   {% endfor %}



  </tbody>
</table>


<script>
  $(document).ready(function () {
  $('#modeltable').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
  $('.dataTables_length').addClass('bs-select');
});

$(document).on("click", ".open-deleteTrialGroupDialog", function () {
     var mytrialGroupId = $(this).data('id');
     $(".modal-content #id_trial_group_hash").val( mytrialGroupId );
});

</script>

</div>




{% endblock contents %}


