{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block contents %}
{% load markdownify %}

<div class="container content">

  <!-- Repo title and header -->
  <div class="row">
    <div class="col-md-10">

      <div class="main-header">{{ name }}</div>
      <div class="section-header">
      {% for tag in tags %}
      <span class="badge badge-primary">{{ tag }}</span>
      {% endfor %}
    </div>
    </div>
    <div class="col-md-2">
      <div class="repo-summary">
        <div class="repo-summary-image"><img width=140 src="/static/{{ data_image }}"></div>

      </div>
    </div>
  </div>


  <!-- Repo navigation -->
  <ul class="nav nav-tabs repo-menu" id="profileTabs" role="tablist">
    <li class="nav-item repo-menu-link">
      <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#repository" role="tab" aria-controls="repository" aria-selected="true">
        <ion-icon name="home"></ion-icon> Summary
      </a>
    </li>

    <li class="nav-item repo-menu-link">
      <a class="nav-link" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="false">
        <ion-icon name="code"></ion-icon> Code
      </a>
    </li>

      {% if notebook %}

    <li class="nav-item repo-menu-link">
      <a class="nav-link" id="notebook-tab" data-toggle="tab" href="#notebook" role="tab" aria-controls="code" aria-selected="false">
        <ion-icon name="journal"></ion-icon> Notebook
      </a>
    </li>
    {% endif %}

    <li class="nav-item repo-menu-link">
      <a class="nav-link" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false">
        <ion-icon name="star-outline"></ion-icon> Tasks
      </a>
    </li>

    <li class="nav-item repo-menu-link">
      <a class="nav-link" id="trials-tab" data-toggle="tab" href="#trials" role="tab" aria-controls="trials" aria-selected="false">
        <ion-icon name="rocket"></ion-icon> Trials
      </a>
    </li>

  </ul>
  <div class="tab-content" id="profileTabsContent">
    <div class="tab-pane show active" id="repository" role="tabpanel" aria-labelledby="summary-tab">

      <!-- Repository content -->
      <div class="row content">
        <div class="col-md-12">
          <div class="content-box">
              
            <script type="text/javascript" async
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
            </script>

            {% if readme_exists %}
            {{ readme_content|markdownify|safe }}
            {% else %}
            <div class="no-readme">
            <p>You have no README <i class="em em-hushed"></i></p>

            <p>Help others understand your machine learning project by adding one</p>

           <button type="button" id="cloneDropdown" class="btn btn-success">
               <b>Add a README</b>
            </button>

            </div>
            {% endif %}

          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane" id="code" role="tabpanel" aria-labelledby="code-tab">

      <div class="row content">
        <div class="col-md-12">
          <div class="content-code-full">
            <div class="content-code-header"><ion-icon name="code"></ion-icon> Code</div>
            

            {% if empty_repo %}
            <center>
            Looks like you have an empty repository! 👀<br>
          </center>
<div class="buttons">
 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Set Up Remote
  </button>

  <div class="dropdown-menu">
      <input type="text" value="{{ repo_remote_address }}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
  </div>
</div>


            {% else %}

            <div class="content-code-contents">


              <table>
                <tr>
                  <th></th><th></th><th style="text-align: right">Last Modified | {{ last_commit.commit_date|date:"M d Y" }}</th></tr>

                {% for direc in directories %}
                <tr><td><ion-icon name="folder"></ion-icon> <a href="/data/{{ folder_name }}/tree/{{ direc.name}}">{{ direc.name }}</a></td>
                  <td><div class="commit-message"></div></td>
                  <td><div class="last-commit">{{ direc.last_modified }}</div></td>
                </tr>
                {% endfor %}

                {% for file in files %}
                <tr><td><ion-icon style="color: #222222" name="{{ file.icon }}"></ion-icon> 
                  <a href="/data/{{ folder_name }}/tree/{{ file.name }}">{{ file.name }}</a></td>
                  <td><div class="commit-message"></div></td>
                  <td><div class="last-commit">{{ file.last_modified }}</div></td>
                </tr>
                {% endfor %}

              </table>

            </div>


          {% endif %}


          </div>
        </div>
      </div>

    </div>
  
    <div class="tab-pane" id="notebook" role="tabpanel" aria-labelledby="notebook-tab">

      <div class="row content">
        <div class="col-md-12">
          <div class="content-box">

      {% if notebook %}

        <link href="{% static 'css/prism.css' %}" rel="stylesheet">
            <script type="text/javascript" src="/static/js/marked.min.js"></script>
            <script type="text/javascript" src="/static/js/prism.min.js"></script>
            <script type="text/javascript" src="/static/js/es5-shim.min.js"></script>
            <script type="text/javascript" src="/static/js/ansi_up.min.js"></script>
            <div class="notebook-display">
            <div class="notebook" style="width:90%; float: right; padding-right: 20px">
            </div>
            </div>

            <script src="/static/js/notebook.min.js"></script>
            <script>
              var orig_content = {{ notebook |safe }};
              var json_obj = JSON.parse(orig_content);
              var notebook = nb.parse(json_obj);
              document.getElementsByClassName("notebook")[0].appendChild(notebook.render());
            </script>

      {% endif %}

    </div>
  </div>
</div>


    </div>


    <div class="tab-pane" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">

  <div class="row content">
        <div class="col-md-12">
          <div class="content-code-full">

            <div class="content-code-header"><ion-icon name="star-outline"></ion-icon> Dataset Tasks</div>

<div class="trial-contents">

<table id="taskgrouptable" class="table text-center">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Evaluation</th>
      <th scope="col">Best Model</th>
      <th scope="col">Best Loss</th>
    </tr>
  </thead>
  <tbody>


{% for task_key, task_value in task_list.items %}
    <tr>
        <td onclick="document.location = '{{ task_key }}';">
        <i class="em em-star"></i> <a href="{{ task_key }}">{{ task_value.name }}</a>
      </td>
      <td onclick="document.location = '{{ task_key }}';">
        <i class="em em-chart_with_upwards_trend"></i> {{ task_value.evaluation_name }}
      </td>
      <td onclick="document.location = '{{ task_key }}';">
      <img src="/static/{{ task_value.best_model_metadata.image }}"> <a href="/model/{{ task_value.best_model_metadata.folder_name }}">{{ task_value.best_model_metadata.name }}</td>
    </td>
      <td onclick="document.location = '{{ task_key }}';">{{ task_value.best_loss |floatformat:4 }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>


<script>
  $(document).ready(function () {
  $('#taskgrouptable').DataTable( {
        "order": [[ 2, "asc" ]]
    } );
  $('.dataTables_length').addClass('bs-select');
});


</script>


</div>
</div>
</div>
</div>
</div>



    <div class="tab-pane" id="trials" role="tabpanel" aria-labelledby="trials-tab">


      <div class="row content">
        <div class="col-md-12">
          <div class="content-code-full">

            <div class="content-code-header"><ion-icon name="rocket"></ion-icon> Latest Trials</div>

<div class="trial-contents">

<div class="modal fade" id="deleteTrialGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteTrialGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTrialGroupModalLabel">Are you sure you want to delete this trial group?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">


    {% csrf_token %}
    {{ form }}

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>

</form>

    </div>
  </div>
</div>

<table id="trialgrouptable" class="table text-center">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Trial Group</th>
      <th scope="col">Model</th>
      <th scope="col">Data</th>
      <th scope="col">Task</th>
      <th scope="col">Trials</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>


{% for trial_values in trial_groups %}
    <tr>
  
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';">{{ trial_values.time }}</td>
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';">{{ trial_values.trial_group_name }}</td>
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';"><img src="/static/{{ trial_values.model_metadata.image }}"> <a href="/model/{{ trial_values.model_metadata.folder_name }}">{{ trial_values.model_metadata.name }}</a></td>
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';"><img src="/static/{{ trial_values.data_image }}"> <a href="/data/{{ trial_values.data_name }}">{{ trial_values.data_full_name }}</a></td>
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';">
        {% if trial_values.task_full_name %}
        <i class="em em-chart_with_upwards_trend"></i> <a href="{{ trial_values.task_name }}">{{ trial_values.task_full_name }}</a>
        {% else %}
        None
        {% endif %}
      </td>
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';">{{ trial_values.n_trials }}</td>
      <td><button data-id="{{ trial_values.trial_group_hash }}" type="button" class="open-deleteTrialGroupDialog btn btn-primary" data-toggle="modal" data-target="#deleteTrialGroupModal">
        delete
      </button></td>
    </tr>
   {% endfor %}
  </tbody>
</table>


<script>
  $(document).ready(function () {
  $('#trialgrouptable').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
  $('.dataTables_length').addClass('bs-select');
});

$(document).on("click", ".open-deleteTrialGroupDialog", function () {
     var mytrialGroupId = $(this).data('id');
     $(".modal-content #id_trial_group_hash").val( mytrialGroupId );
});

</script>

</div>
</div>
</div>
</div>

    </div>
  </div>
</div>
{% endblock %}