{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block contents %}
{% load markdownify %}

<div class="container content">

  <!-- Repo title and header -->
  <div class="row" style="padding-top:30px;">
    <div class="col-md-10">
      <div class="section-header">
      {% for tag in tags %}
      <span class="badge badge-primary">{{ tag }}</span>
      {% endfor %}
    </div>
      <div class="main-header">{{ name }}</div>
      <div class="section-repo"><i class="em em-robot_face"></i> <a href='/models'>models</a> / <a href='/model/{{ folder_name }}'>{{ folder_name }}</a></div>
    </div>
    <div class="col-md-2">
      <div class="repo-summary">
        <div class="repo-summary-image"><img width=140 src="/static/{{ image }}"></div>

      </div>
    </div>
  </div>


  <!-- Repo navigation -->
  <ul class="nav nav-tabs repo-menu" id="profileTabs" role="tablist">
    <li class="nav-item repo-menu-link">
      <a class="nav-link" id="summary-tab" data-toggle="tab" href="#repository" role="tab" aria-controls="repository" aria-selected="true">
        <ion-icon name="home"></ion-icon> Summary
      </a>
    </li>

    <li class="nav-item repo-menu-link">
      <a class="nav-link active" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="false">
        <ion-icon name="code"></ion-icon> Code
      </a>
    </li>

      {% if arxiv_pdf or pdf %}

    <li class="nav-item repo-menu-link">
      <a class="nav-link" id="paper-tab" data-toggle="tab" href="#paper" role="tab" aria-controls="code" aria-selected="false">
        <ion-icon name="document"></ion-icon> Paper
      </a>
    </li>
    {% endif %}

      {% if notebook %}

    <li class="nav-item repo-menu-link">
      <a class="nav-link" id="notebook-tab" data-toggle="tab" href="#notebook" role="tab" aria-controls="code" aria-selected="false">
        <ion-icon name="journal"></ion-icon> Notebook
      </a>
    </li>
    {% endif %}

    <li class="nav-item repo-menu-link">
      <a class="nav-link" id="trials-tab" data-toggle="tab" href="#trials" role="tab" aria-controls="models" aria-selected="false">
        <ion-icon name="rocket"></ion-icon> Trials
      </a>
    </li>

  </ul>
  <div class="tab-content" id="profileTabsContent">
    <div class="tab-pane" id="repository" role="tabpanel" aria-labelledby="summary-tab">

      <!-- Repository content -->
      <div class="row content">
        <div class="col-md-12">
          <div class="content-box">
              
            {% if readme_exists %}
            {{ readme_content|markdownify|safe }}
            {% else %}
            <div class="no-readme">
            <p>You have no README <i class="em em-hushed"></i></p>

            <p>Help others understand your machine learning project by adding one</p>

           <button type="button" id="cloneDropdown" class="btn btn-success">
               <b>Add a README</b>
            </button>

            </div>
            {% endif %}

          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane show active" id="code" role="tabpanel" aria-labelledby="code-tab">

      <div class="row content">
        <div class="col-md-12">
          <div class="content-code-full">
            <div class="content-code-header"><ion-icon name="code"></ion-icon> Code</div>
            

<div class="btn-group">

  <div class="code-tree">

  <a href="/model/{{ folder_name }}/tree/">{{ folder_name }}</a> 

  {% if path %}
  {% for item in path_list %}

  {% if item.1 and not is_folder%}
  <b>{{ item.0 }}</b>
  {% else %}
  <a href="/model/{{ folder_name }}/tree/{{ item.2 }}">{{ item.0 }}</a> /
  {% endif %}

  {% endfor %}
  {% endif %}
  </div>

</div>

 <div class="content-code-contents">
            
            {% if is_folder %}

            <table>
            <tr>
            <th><img style="height: 15px" src="/static/img/{{ framework }}.png"></th><th></th><th style="text-align: right">Last Modified</th></tr>

            {% for direc in directories %}
            <tr><td><ion-icon name="folder"></ion-icon> 
              {% if path %}
              <a href="/model/{{ folder_name }}/tree/{{ path }}/{{ direc.name}}">{{ direc.name }}</a>
              {% else %}
              <a href="/model/{{ folder_name }}/tree/{{ direc.name}}">{{ direc.name }}</a>
              {% endif %}
            </td>
            <td><div class="commit-message"></div></td>
            <td><div class="last-commit">{{ direc.last_modified }}</div></td>
            </tr>
            {% endfor %}

            {% for file in files %}
            <tr><td><ion-icon style="color: #222222" name="{{ file.icon }}"></ion-icon> 
              {% if path %}              
            <a href="/model/{{ folder_name }}/tree/{{ path }}/{{ file.name }}">{{ file.name }}</a>
            {% else %}
            <a href="/model/{{ folder_name }}/tree/{{ file.name}}">{{ file.name }}</a>
            {% endif %}
          </td>
            <td><div class="commit-message"></div></td>
            <td><div class="last-commit">{{ file.last_modified }}</div></td>
            </tr>
            {% endfor %}

            </table>

            {% else %}
            <table>
              <tr><th>{% if not is_folder %}{{ file_lines }} lines | {{ file_size }} bytes  {% endif %}</th></tr>
              <tr>
              <td>
            {% if file_type == 'markdown' %}
            <div class="text-display">
            {{ file_contents|markdownify|safe }}
            </div>
            {% elif file_type == 'image' %}
            <div class="text-display">
            <img src="/static/models/{{ folder_name }}/{{ path }}">
            </div>
            {% elif file_type == 'notebook' %}
            <link href="{% static 'css/prism.css' %}" rel="stylesheet">
            <script type="text/javascript" src="/static/js/marked.min.js"></script>
            <script type="text/javascript" src="/static/js/prism.min.js"></script>
            <script type="text/javascript" src="/static/js/es5-shim.min.js"></script>
            <script type="text/javascript" src="/static/js/ansi_up.min.js"></script>
            <script type="text/javascript" async
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
            </script>
            <div class="text-display">
            <div class="notebook-one" style="width:90%; float: right; padding-right: 20px">
            </div>
            </div>

            <script src="/static/js/notebook.min.js"></script>
            <script>
              var orig_content = {{ file_contents |safe }};
              var json_obj = JSON.parse(orig_content);
              var notebookone = nb.parse(json_obj);
              document.getElementsByClassName("notebook-one")[0].appendChild(notebookone.render());
            </script>

            {% else %}
            <div id="editor" style="width:100%;">{{ file_contents }}</div>
            <script src="{% static 'js/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>

            <script>
                var editor = ace.edit("editor");
                editor.container.classList.add("myEditor")
                editor.setTheme("ace/theme/chrome");
                editor.setFontSize(16);
                editor.getSession().setMode("ace/mode/python");
                editor.setReadOnly(true);
                editor.setOption("showPrintMargin", false);
                editor.setOption('showGutter', true);
                editor.setOption("highlightActiveLine", false)


                editor.setOptions({
                    maxLines: 5000
                });
            </script>

            {% endif %}
            </div>
          </td></tr>
        </table>
        {% endif %}

      </div>




          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="paper" role="tabpanel" aria-labelledby="paper-tab">
      {% if arxiv_pdf or pdf %}
      {% if pdf %}
      <embed src="/static/models/{{ folder_name }}/{{ pdf }}" type="application/pdf" width="100%" height="600px" />
      {% else %}
      <embed src="{{ arxiv_pdf }}" type="application/pdf" width="100%" height="600px" />
      {% endif %}

      {% endif %}
    </div>


    <div class="tab-pane" id="notebook" role="tabpanel" aria-labelledby="notebook-tab">

      <div class="row content">
        <div class="col-md-12">
          <div class="content-box">

      {% if notebook %}

        <link href="{% static 'css/prism.css' %}" rel="stylesheet">
            <script type="text/javascript" src="/static/js/marked.min.js"></script>
            <script type="text/javascript" src="/static/js/prism.min.js"></script>
            <script type="text/javascript" src="/static/js/es5-shim.min.js"></script>
            <script type="text/javascript" src="/static/js/ansi_up.min.js"></script>
            <script type="text/javascript" async
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
            </script>
            <div class="notebook-display">
            <div class="notebook" style="width:90%; float: right; padding-right: 20px">
            </div>
            </div>

            <script src="/static/js/notebook.min.js"></script>
            <script>
              var orig_content = {{ notebook |safe }};
              var json_obj = JSON.parse(orig_content);
              var notebook = nb.parse(json_obj);
              document.getElementsByClassName("notebook")[0].appendChild(notebook.render());
            </script>

      {% endif %}

    </div>
  </div>
</div>


    </div>

    <div class="tab-pane" id="trials" role="tabpanel" aria-labelledby="trials-tab">


      <div class="row content">
        <div class="col-md-12">
          <div class="content-code-full">

            <div class="content-code-header"><ion-icon name="rocket"></ion-icon> Latest Trials</div>

<div class="trial-contents">

<div class="modal fade" id="deleteTrialGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteTrialGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTrialGroupModalLabel">Are you sure you want to delete this trial group?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">


    {% csrf_token %}
    {{ form }}

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>

</form>

    </div>
  </div>
</div>

<table id="trialgrouptable" class="table text-center">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Trial Group</th>
      <th scope="col">Model</th>
      <th scope="col">Data</th>
      <th scope="col">Task</th>
      <th scope="col">Trials</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>


{% for trial_values in trial_groups %}
    <tr>
  
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';">{{ trial_values.time }}</td>

      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';">{{ trial_values.trial_group_name }}</td>

      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';"><img src="/static/{{ image }}"> <a href="/model/{{ folder_name }}">{{ name }}</a></td>
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';"><img src="/static/{{ trial_values.data_image }}"> <a href="/data/{{ trial_values.data_name }}">{{ trial_values.data_full_name }}</a></td>
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';">
        {% if trial_values.task_full_name %}
        <i class="em em-chart_with_upwards_trend"></i> <a href="/data/{{ trial_values.data_name }}/{{ trial_values.task_name }}">{{ trial_values.task_full_name }}</a>
        {% else %}
        None
        {% endif %}
      </td>
      <td onclick="document.location = '/trials/{{ trial_values.trial_group_hash |slice:':6' }}';">{{ trial_values.n_trials }}</td>
      <td><button data-id="{{ trial_values.trial_group_hash }}" type="button" class="open-deleteTrialGroupDialog btn btn-primary" data-toggle="modal" data-target="#deleteTrialGroupModal">
        delete
      </button></td>
    </tr>
   {% endfor %}
  </tbody>
</table>


<script>
  $(document).ready(function () {
  $('#trialgrouptable').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
  $('.dataTables_length').addClass('bs-select');
});

$(document).on("click", ".open-deleteTrialGroupDialog", function () {
     var mytrialGroupId = $(this).data('id');
     $(".modal-content #id_trial_group_hash").val( mytrialGroupId );
});

</script>

</div>
</div>
</div>
</div>

    </div>
  </div>
</div>
{% endblock %}